rom.bin
src/rom_labels.h
src/rom_lst.h
src/basload_labels.h
src/x16edit_D_labels.h
src/x16edit_E_labels.h
.vscode/
.idea/
/build

# Build artifacts for relocatable VERA.SYS
body_*.bin
body_*.lbl
body_*.map
loader.bin
loader.lbl
loader.map
fixups.bin
vera_pbi.map
vera_sys.map
vera.lbl

# Final build outputs (rebuild with `make`)
VERA.SYS
AUTORUN.SYS
vera_pbi.atr
.atrbuild/
.dos20/
/vera_driver.o
/vera_stub.o
/vera_sys_dosini.o
/vera_sys_es_hook.o
/vera_sys_font.o
/vera_sys_loader.o
/vera_sys_vbi.o
/vera-tests/sysdetect.o
/FujiNet/fujinet-pc-ATARI/fujinet
/RUNCPM.COM
/vera-tests/runcpm.o
/VERA8030.SYS
/VERA4030.SYS
/VERA8060.SYS
/atari800
